/* app/src/assets/styles/_variables.scss */
/* 色の変数 */
$primary-color: #005a7d; /* 深いブルー */
$secondary-color: #5c6516; /* オリーブ系の深緑 */
$accent-color: #013c53; /* ソフトなブラウン */
$white: #ffffff;
$border-color: #ccc;
$error-color: #ff4c4c; /* エラーメッセージやアラートの色 */
