/* app/src/assets/styles/_variables.scss */
/* 色の変数 */
$primary-color: #ff8c00; /* メインのアクセントカラー */
$secondary-color: #008cff; /* もう一つの主要カラー（例: ブルー） */
$accent-color: #e07c00; /* アクセントやホバーに使用する色 */
$white: #fff;
$border-color: #ccc;
$error-color: #ff4c4c; /* エラーメッセージやアラートの色 */
