// app/src/assets/styles/_variables.scss

$primary-color: #005a7d;
$secondary-color: #5c6516;
$accent-color: #013c53;
$white: #ffffff;
$border-color: #ccc;
$error-color: #ff4c4c;
$highlight-color: #f9f871;
