// app/src/assets/styles/Layout.scss

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
