@use "sass:color";
@use "./variables" as *;

.manage-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  .event,
  .stage,
  .seat-group {
    background-color: $white;
    height: 100%;
    border: 1px solid $border-color;
    border-radius: 8px;
    padding: 2px;
    margin-bottom: 2px;

    &-header {
      font-size: 1.2rem;
      font-weight: bold;
      color: $primary-color;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 12px;
      background-color: $accent-color;
      color: $white;
      border-radius: 6px;

      &:hover {
        background-color: color.scale($accent-color, $lightness: 10%);
      }
    }
  }

  .seat-group {
    &-header {
      font-size: 1rem;
      background-color: color.scale($secondary-color, $lightness: 10%);
      color: color.scale($secondary-color, $lightness: -30%);
      border-radius: 4px;

      &:hover {
        background-color: color.scale($secondary-color, $lightness: 20%);
      }
    }
  }

  .stages,
  .seat-groups,
  .reservations {
    max-height: 0px;
    margin-left: 5px;
    padding-top: 2px;
    overflow: hidden;
    transition: max-height 1s ease;

    &.open {
      max-height: 2000px; // アニメーションが適切に動く範囲で十分に大きな値に設定
    }
  }
  .reservation {
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 2px;
    font-size: 0.9rem;
    color: color.scale($secondary-color, $lightness: -15%);
  }
}
