// app/src/assets/styles/ScannerModal.scss
@use "variables" as *;

.scanner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-color;

  .alert-modal-content {
    color: $error-color;
  }

  video {
    width: 70%;
  }
}
